.summary {
    display: flex;
    width: 100%;
    height: 14.5rem;
    background: #333;
}

.summary-content {
    padding: 4.6rem;
    color: white;
    width: 100%;
    display: flex;
    align-content: center;
}
